.container {
    border: 3px solid #f1f1f1;
    width: 800px;
    margin: 20px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head{
    display: flex;
    flex-direction: row;
}

.head table {
    width: 350px;
}

.category p {
    text-align: center;
    margin-top: 150px;
    font-weight: bolder;
}


.link {
    width: 120px;
    min-height: 20px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
}


.link a, button {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    color: white;
    text-decoration: none;
    font-size: smaller;
}

.link:hover {
    opacity: 0.8;
}

.historyComments {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.historyCommentsButtons, .tables{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.historyComments table{
    margin: 0;
    padding: 0;
}


.historyCommentsButtons>button {
    width:350px;
    margin: 20px;
   }

.historyCommentsButtons>button:focus{
    background-color: cornflowerblue;
}

.star {
    width: 400px;
}

.ticketName{
    text-align: left;
    margin: 20px;
    font-weight: bolder;
}
.ticketInfoTable{
    width: 500px;
    display: flex;
}

.ticketInfoHeaders{
    text-align: right;
    margin-right: 10px;
}






