
.formCreateTicket {
    border: 3px solid #f1f1f1;
    width: 800px;
    margin: 20px auto;
    padding: 50px;
    display: flex;
}

.formCenter p {
    text-align: left;
    margin: 10px;
    font-size: x-large;
}

.formCenter div {
    min-height: 30px;
}

.formGroup {
    margin: 5px;
    padding: 5px;
}


.link {
    width: 100px;
    padding: 5px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
}

.link a {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    color: white;
    text-decoration: none;
    font-size: smaller;
}

.link:hover {
    opacity: 0.8;
}

select, input, textarea{
    width: 200px;
    padding: 5px;
    margin: 8px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.formGroup label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float: left;
    width: 150px;
    margin-right: 10px;
}

input, select {
    margin-top: 5px
}



