.form {
    border: 3px solid #f1f1f1;
    width: 800px;
    margin: 20px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerLoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0   auto;
}

/* Full-width inputs */
input[type=text], input[type=paswsword] {
    width: 200px;
    padding: 5px;
    margin: 8px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.inputLabel label {
    width: 100px;
    padding: 10px 10px;
}

button {
    background-color: #4CAF50;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}